<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <h2>HELLO THIS IS AN EXPRESS FILE</h2>
    <small>HEllo world </small> -->
    Forms in Node and saving inputs to server
    <form action="/get-form-data" method="post">
        <input type="text" name="username" id="name" placeholder="Enter your name">
        <input type="number" name="contact" id="contact" placeholder="Enter contact number">
        <input type="email" name="email" id="email" placeholder="Enter your email ID">
        <input type="password" name="password" id="password" placeholder="Enter password">
        <button>Submit</button>
    </form>
    <script src="index.js"></script>
</body>
</html>